@model EmployeeManagementSystem.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
